[viewBag]
==
<div class="item">
    <div class="ico delivery">
        <img src="{{ 'assets/images/icons/delivery.svg' | theme }}" alt="">
    </div>
    <p>Быстрая <br>доставка</p>
</div>
<div class="item">
    <div class="ico award">
        <img src="{{ 'assets/images/icons/award.svg' | theme }}" alt="">
    </div>
    <p>13 лет <br>на рынке</p>
</div>
<div class="item">
    <div class="ico diamond">
        <img src="{{ 'assets/images/icons/diamond.svg' | theme }}" alt="">
    </div>
    <p>Проверенный <br>продукт</p>
</div>
<div class="item">
    <div class="ico discount">
        <img src="{{ 'assets/images/icons/discount.svg' | theme }}" alt="">
    </div>
    <p>Актуальные акции<br> и скидки</p>
</div>
<div class="item">
    <div class="ico boy">
        <img src="{{ 'assets/images/icons/boy.svg' | theme }}" alt="">
    </div>
    <p>Профессиональная <br>консультация</p>
</div>