[CategoryList]

[ProductList]
sorting = "new"

[ProductList ProductList2]
sorting = "new"

[Cart]

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[session]
security = "all"

[account]
redirect = "cabinet/index"
paramCode = "code"
forceSecure = 0

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "Спасибо за подписку!"
errorMessage = "Email already exists!"
==
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title> {{ this.page.title }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | theme }}">
	<link rel="stylesheet" type="text/css" href="{{'assets/css/jquery.fancybox.min.css'| theme }}">	
	
</head>

<body style="background: #fffcf8 url(https://demo.templatetrip.com/Prestashop/PRS05/PRS121_multi/PRS01/themes/PRS01/assets/img/body-bg.png) repeat scroll center center;">    
    <header class="header">
        {% partial 'site/header' %}
    </header>
    
    {#{% partial 'site/top-header' %}#}
    
    <div class="container">
        {% component 'breadcrumbs' %}
    
        {% page %}
    </div>
    
    <footer class="footer">
        {% partial 'site/footer' %}
    </footer>
    
    <div class="footer_line">
        <div class="wrap">
            <p class="copy">© 2019. Все права защищены.</p>
            <p class="created">Разработано:
                <a href="#">uix.digital</a>
            </p>
        </div>
    </div>
    
        
    
    <script src="{{ 'assets/js/js.js' | theme }}"></script>
    <script src="{{ 'assets/js/ion.rangeSlider.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/jquery.fancybox.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/jquery.maskedinput.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/app.js' | theme }}"></script>    
    {% framework extras %}
    {% scripts %}
    
    
</body>
</html>