[viewBag]
==
<h2>Файный чай</h2>

<p>
    <img class="left" src="{{ 'assets/images/main-1.jpg' | theme }}" alt="">
    <span class="show_more">
        <span class="hide">
            Уважаемые посетители, все необходимое для аквариума, содержания собак, кошек, грызунов, птиц и прочих питомцев можно приобрести в интернет-магазине зоотоваров для домашних животных ZooMarket.
            <br><br>
            Сегодня это самый большой в Казахстане магазин товаров для животных с огромным выбором кормов, средств гигиены, игрушек и всевозможных аксессуаров, приемлемыми ценами.
            <br><br>
            <img class="right" src="{{ 'assets/images/main-2.jpg' | theme }}" alt="">
            В ассортименте зоомагазина элитные товары от ведущих производителей. Мы доставляем заказы по всему Казахстану, а в Алматы доставка зоотоваров осуществляется бесплатно. Интернет-зоомагазин ZooMarket.kz - это доступ к полному спектру зоотоваров, собранных в одном месте.
            <br><br>
            К вашим услугам советы консультантов, удобство расчетов, пунктуальность курьеров и непревзойденное качество продукции. Мы предлагаем купить любые зоотовары оптом или в розницу, экономя при этом время и деньги. Спешите купить товары для домашних животных именно в ZooMarket, так как ваш любимец достоин только самого лучшего!
        </span>
        <span class="read_more">Читать полностью</span>
    </span>
</p>